:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --pickled-bluewood-dark: #293449;
  --pickled-bluewood-light: #32425c;
  --picton-blue: #3bbce3;
  --light-orchid: #dc91d8;
  --ebony-clay: #212a3a;
  --brick-red: #ca2c37;
  --ecru-white: #f7f3ec;
  --feijoa: #8ed78f;
  --gallery: #eaeaea;
  --merino: #f9f5f0;
  --fiord: #405069;
  --silver-chalice: #a9a9a9;
  --tall-poppy: #ba2732;
  --white: #ffffff;
  --black: #000000;
  --special-yellow: #ffbf47;
  --grandis: #ffd180;
  --mirage: #161d29;
  --mercury: #e5e5e5;
  --success: #5fbb2d;
  --bilbao: #367315;
  --apple: #518534;
  --error: #ba2732;
  --black-shadow: rgba(0, 0, 0, 0.15);
  --trans-black: rgba(0, 0, 0, 0.3);
  --trans-white: rgb(255, 255, 255, 0.3);
  --trans-greylight: rgb(197, 197, 197, 0.3);
  --trans-silver: rgb(169, 169, 169, 0.3);
  --darkened-white: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Cuprum", sans-serif;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.section-header {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--pickled-bluewood-light);
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.main-header {
  background-color: var(--basic-background);
  margin-bottom: 60px;
}

.header-menu {
  height: 42px;
  background-color: var(--pickled-bluewood-dark);
}

.header-menu > div {
  height: 100%;
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  display: flex;
  align-items: center;
}

.header-menu a {
  color: var(--white);
}

.header-menu input {
  width: 100%;
  padding: 9px 18px 9px 42px;
  background-color: transparent;
  border: none;
  color: var(--white);
  position: relative;
  background-image: url(../img/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 19px;
}

.header-menu input::before {
  content: '';
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icons/search-icon.svg);
  width: 17px;
  height: 17px;
  opacity: .3;
}

.header-menu input:hover {
  background-image: url(../img/icons/white-search-icon.svg);
}

.header-menu input:focus {
  color: var(--black);
  background-color: var(--white);
  background-image: url(../img/icons/red-search-icon.svg);
}

.header-menu input::placeholder {
  color: var(--white);
}

.header-menu input:focus::placeholder {
  color: var(--black);
}

.header-menu form {
  position: relative;
  display: flex;
  height: 100%;
  width: 270px;
}

.bookmarks {
  width: 150px;
  box-sizing: border-box;
  padding: 9px 24px 9px 43px;
  position: relative;
}

.bookmarks::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icons/bookmark-icon.svg);
  width: 14px;
  height: 16px;
  opacity: .3;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.header-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.technomart-logo {
  display: flex;
  width: 220px;
  height: 100%;
  justify-content: center;
  line-height: 13px;
  background-color: var(--basic-red);
}

.header-logo {
  position: relative;
}

.header-logo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  background-color: var(--error);
  width: 100%;
  height: 5px;
}

.basket {
  width: 150px;
  box-sizing: border-box;
  padding: 9px 26px 9px 49px;
  position: relative;
  background-color: var(--basic-red);
}

.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.basket::before {
  content: '';
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icons/cart-icon.svg);
  width: 15px;
  height: 15px;
  opacity: .3;
}

.basket--empty {
  background-color: var(--pickled-bluewood-dark);
}

.technomart-logo:active {
  background-color: var(--error);
}

.bookmarks:active,
.basket:active {
  color: var(--darkened-white);
  background-color: var(--mirage);
}

.button-order {
  background-color: var(--basic-green);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--success);
}

.button-order:active {
  color: var(--darkened-white);
}

.header-container {
  padding-top: 40px;
  padding-bottom: 60px;
}

.header-container > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.technomart-description {
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  color: var(--basic-red);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info a {
  display: flex;
  width: 264px;
  height: 39px;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.contact-info span {
  font-size: 14px;
  color: var(--pickled-bluewood-light);
  text-align: center;
}

.account {
  display: flex;
  gap: 10px;
  height: 45px;
}

.account a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  text-transform: inherit;
}

.account-button:nth-of-type(1) {
  width: 121px;
  height: 100%;
}

.account-button:nth-of-type(2) {
  width: 150px;
  height: 100%;
}


.account-button:hover,
.account-button:focus {
  color: var(--basic-red);
}

.account-button:active {
  color: var(--basic-greylight);
}

.account-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 299px;
  height: 45px;
  background-color: var(--white);
}

.account-user a {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.account-user a:active {
  color: var(--basic-greylight);
}

.account-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  gap: 30px
}

.user-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--pickled-bluewood-light);
}

.user-button:hover,
.user-button:focus {
  color: var(--basic-red);
}

.user-button:active {
  color: var(--basic-greylight);
}

.main-navigation {
  margin-top: 40px;
  background-color: var(--pickled-bluewood-light);
  box-shadow: inset 0px -5px 0px var(--pickled-bluewood-dark);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 60px;
}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation li:hover,
.site-navigation li:focus {
  background-color: var(--pickled-bluewood-dark);
}

.navigation-item a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.navigation-item a:active {
  color: var(--white);
  opacity: 0.5;
  background-color: var(--pickled-bluewood-dark);
}

/* Categories */

.categories {
  margin-bottom: 59px;
}

.categories-list {
  display: grid;
  grid-template-areas:
    "materials tools equipment"
    "slider slider discounts"
    "slider slider delivery";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  color: var(--white);
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.category-item {
  padding: 20px 0 21px 23px;
}

.category-item > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.category-item h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-item a {
  background-color: var(--trans-white);
  color: var(--white);
  width: 135px;
}

.category-button:hover,
.category-button:focus {
  background-color: var(--trans-greylight);
}

.category-button:active {
  background-color: var(--trans-silver);
}

.materials-category {
  grid-area: materials;
  background-color: var(--special-yellow);
}

.tools-category {
  grid-area: tools;
  background-color: var(--picton-blue);
}

.equipment-category {
  grid-area: equipment;
  background-color: var(--light-orchid);
}

.discounts-category {
  grid-area: discounts;
  background-color: var(--feijoa);
}

.delivery-category {
  grid-area: delivery;
  background-color: var(--special-yellow);
}

.slider {
  position: relative;
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 122px;
  left: 24px;
  right: 20px;
  bottom: 104px;
}

.styder {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 220px;
  left: 295px;
  right: 295px;
  bottom: 36px;
}

.slider-category {
  grid-area: slider;
}

.slider-items {
  list-style: none;
  padding: 0;
}

.slider-top {
  height: 105px;
}

.slider-top .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 23px 0 17px 24px;
}

.slider-item h3 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.slider-item p {
  margin: 0;
  color: var(--white);
}

.hammer-drills-item {
  background-image: url(../img/hammer-drills.jpg);
  width: 620px;
  height: 266px;
  alt: "Перфораторы";
}

.drills-item {
  background-image: url(../img/drills.jpg);
  width: 620px;
  height: 266px;
  alt: "Дрели";
}

.slider-dot {
  padding: 0;
  display: inline-block;
  background: var(--white);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
}

.slider-dot--active {
  background: var(--basic-red);
}

.catalog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 201px;
  left: 24px;
  right: 404px;
  bottom: 27px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: var(--brick-red);
}

.catalog-button:active {
  background-color: var(--tall-poppy);
}

/* Popular products */

.popular-products {
  margin-bottom: 70px;
}

.popular-top {
  background-color: var(--merino);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 25px 19px 26px 28px;
  align-items: center;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 192px;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  background-color: var(--white);
  border: 1px solid var(--gallery);
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 316px;
}

.product-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

.product-item del {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-greylight);
}

.product-item p {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
  margin: 0;
  margin-top: 13px;
  margin-bottom: 21px;
}

.buy-button {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--bilbao);
  font-weight: 400;
  margin-top: 38px;
  margin-bottom: 10px;
  width: 135px;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--success);
}

.buy-button:active {
  background-color: var(--apple);
}

.bookmarks-button {
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--pickled-bluewood-light);
  background-color: var(--white);
  width: 135px;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  outline: none;
  border: 3px solid var(--pickled-bluewood-light);
}

.bookmarks-button:active {
  color: var(--basic-greylight);
  border: 3px solid var(--basic-greylight);
}

/* Popular manufacturers */

.popular-manufacturers {
  margin-bottom: 70px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.manufacturer-item {
  background: var(--white);
  min-height: 143px;
  border: 1px solid var(--gallery);
}

.manufacturer-item a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  filter: drop-shadow(0px 4px 20px var(--black-shadow));
}

.manufacturer-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px var(--black-shadow));
}

/* Services */

.services {
  background-color: var(--basic-background);
  padding-top: 60px;
  margin-bottom: 70px;
}

.service-content {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services-header {
  grid-column: 1 / -1;
}

.services h2 {
  color: black;
}

.services p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.service-list {
  list-style: none;
}

.service-categories {
  display: flex;
  flex-direction: column;
}

.service-button {
  font-family: 'Cuprum', sans-serif;
  text-align: left;
  height: 61px;
  padding: 13.5px 22px 17.5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--pickled-bluewood-light);
  color: var(--white);
  box-shadow: 0px 1px 0px var(--pickled-bluewood-dark),
    inset 0px 1px 0px var(--fiord);
  border: none;
}

.service-button:hover,
.service-button:focus {
  outline: none;
  background: var(--pickled-bluewood-dark);
}

.service-button:active {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--pickled-bluewood-light);
}

.service-item h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--pickled-bluewood-light);
  text-transform: uppercase;
  font-weight: 400;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

/* Company information */

.company-info h2 {
  color: var(--black);
}

.company-info p {
  font-family: "PT Sans";
  font-size: 13px;
}

.company-info ul {
  list-style: none;
}

.company-info li::before {
  content: "- ";
  color: var(--basic-red);
}

.company-info a {
  width: 220px;
}

/* Contacts */

.contacts h2 {
  color: var(--black);
}

.contacts p {
  font-family: "PT Sans";
  font-size: 13px;
}

.contacts a {
  width: 100%;
}

/* Footer */

.footer-logo {
  height: 63px;
  box-shadow: inset 0 -5px 0 var(--black-shadow);
}

.footer-info {
  margin: 0;
  padding: 0;
  margin-top: 22px;
}

.footer-menu {
  background-color: var(--pickled-bluewood-light);
  padding-bottom: 55px;
}

.footer-menu .container {
  display: flex;
  justify-content: space-between;
}

.footer-menu p {
  color: var(--white);
}

.footer-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer-navigation ul:last-child {
  padding-left: 22px;
  margin-top: 34px;
}

.navigation-category-item {
  margin-right: 58px;
}

.navigation-category-item:last-child {
  margin-right: 0px;
}

.footer-navigation__item {
  margin-right: 58px;
}

.footer-navigation__item:last-child {
  margin-right: 0;
}

.footer-navigation__item a {
  color: var(--white);
}

.navigation-category-item a {
  color: var(--grandis);
}

.footer-navigation {
  padding-top: 37px;
}

.footer-navigation__item a:hover,
.navigation-category-item a:hover,
.footer-navigation__item a:focus,
.navigation-category-item a:focus {
  text-decoration: underline;
}

.footer-navigation__item a:active {
  color: var(--basic-background);
  opacity: 0.5;
  text-decoration: none;
}

.navigation-category-item a:active {
  color: var(--grandis);
  opacity: 0.5;
  text-decoration: none;
}

.footer-container {
  padding: 34px 0 29px;
  background-color: var(--pickled-bluewood-dark);
}

.footer-container .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

.footer-container p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-social {
  justify-self: center;
}

.footer-additional-info {
  display: flex;
  justify-content: space-between;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--ebony-clay), var(--ebony-clay));
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background: var(--basic-red);
}

.footer-feedback,
.footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a,
.footer-copyright a {
  color: var(--grandis);
}

.footer-feedback a:hover,
.footer-copyright a:hover,
.footer-feedback a:focus,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
  color: var(--error);
  text-decoration: none;
}

/* Feedback form */

.feedback-modal input,
.feedback-modal textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: var(--silver-chalice);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.feedback-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 13px;
}

.feedback-item:nth-child(3) {
  grid-column: 1 / -1;
}

/* Catalog page */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.catalog-wrapper .products-list {
  grid-template-columns: repeat(3, 1fr);
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--pickled-bluewood-light);
  background-color: var(--basic-background);
  font-weight: 400;
  margin-bottom: 20px;
  padding: 30px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.breadcrumbs li {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
}

.breadcrumbs a {
  color: var(--black);
}

/* Filters */

.filters {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--ecru-white);
  margin: 0;
  padding: 10px 18px;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  font-size: 15px;
}

.filter-input {
  background-color: var(--ecru-white);
  border: none;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
}

.filter-checkbox label,
.filter-radio label {
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  font-family: inherit;
  background-color: var(--white);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--mercury);
  color: black;
  width: 100%;
  padding: 0;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

/* Sorting */

.sort {
  height: 38px;
  margin-bottom: 28px;
  background-color: var(--ecru-white);
}

.sort-wrapper {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 14px 10px 18px;
}

.sort h2 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin-right: 140px;
}

.sorting-controls {
  display: flex;
  flex-wrap: wrap
}

.sort-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-item {
  margin-right: 65px;
}

.sort-item:last-child {
  margin-right: 45px;
}

.sort-item button {
  font-family: inherit;
  border: none;
  line-height: 18px;
  color: var(--trans-black);
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: underline dotted var(--basic-red);
  padding: 0;
}

.sort-item button:hover,
.sort-item button:focus {
  outline: none;
  color: var(--black);
  text-decoration: underline var(--basic-red);
}

.sort-item button:active {
  color: var(--basic-red);
  text-decoration: none;
}

.sort-icon {
  display: inline-block;
  width: 11px;
  height: 10px;
}

.icon-asc {
  margin-right: 21px;
  background-image: url("../img/icons/sort/rest-sort-asc-icon.svg");
}

.icon-asc:hover,
.icon-asc:focus {
  outline: none;
  background-image: url("../img/icons/sort/hover-sort-asc-icon.svg");
}

.icon-asc:active {
  background-image: url("../img/icons/sort/active-sort-asc-icon.svg");
}

.icon-desc {
  background-image: url("../img/icons/sort/rest-sort-desc-icon.svg");
}

.icon-desc:hover,
.icon-desc:focus {
  outline: none;
  background-image: url("../img/icons/sort/hover-sort-desc-icon.svg");
}

.icon-desc:active {
  background-image: url("../img/icons/sort/active-sort-desc-icon.svg");
}

/* Pagination */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  display: flex;
  gap: 10px
}

.pagination-item:last-child {
  width: 140px;
}

.pagination-item a {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  border: 1px solid var(--mercury);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.pagination-item:last-child a {
  text-transform: uppercase;
  width: 138px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid var(--basic-greylight);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 1px solid var(--basic-red);
  color: var(--white);
  background-color: var(--basic-red);
}

/* About punchers */

.about-punchers {
  background-color: var(--basic-background);
  margin-top: 59px;
  padding: 64px 0 68px;
}

.about-punchers h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about-punchers p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

/* Notification modal */

.notification-modal {
  width: 620px;
  background-color: var(--white);
}

.modal-message {
  display: flex;
  align-items: center;
  padding: 49px 0;
  gap: 30px;
  padding-left: 81px;
}

.modal-actions {
  background-color: var(--basic-background);
  display: flex;
  justify-content: center;
  padding: 37px 0;
  gap: 10px;
}

.modal-close {
  background: none;
  border: none;
  cursor: pointer;
}

.notification-modal b {
  font-size: 24px;
  line-height: 30px;
}

.continue-shopping-button {
  color: var(--black);
  background-color: var(--white);
}
